@model IEnumerable<WebProject.Models.MenuItem>

@{
    ViewBag.Title = "List";
}

<h2>Mexican Chinese Fusion Recipes</h2>

<p>
    @Html.ActionLink("Create New Recipe", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Recipe Label
        </th>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
            Stock
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <b>@Html.ActionLink(item.itemName, "Details", new { id = item.itemID })</b>
                &nbsp;&nbsp;&nbsp; @Html.ActionLink("Edit", "Edit", new { id = item.itemID }) &nbsp;&nbsp;&nbsp;
                $@Html.DisplayFor(modelItem => item.itemPrice)
                <br />
                @Html.DisplayFor(modelItem => item.itemDescription)
            </td>
            <td>
                
            </td>
            <td>
               
            </td>
            <td>
                Current Stock:
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.itemID })
            </td>
        </tr>
    }

</table>
