@model WebProject.Models.PaymentMethod

@{
    ViewBag.Title = "Details";
}

<h2>Payment Details</h2>

<div>
    <h4>PaymentMethod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.securityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.securityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
