@model IEnumerable<WebProject.Models.Coupon>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.couponCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discountAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.couponCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discountAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
