@model IEnumerable<WebProject.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </th>
        <th>
            Phone Number
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerInformation.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerInformation.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerInformation.phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Email }) |
            @Html.ActionLink("Details", "Details", new { id = item.Email }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Email })
        </td>
    </tr>
}

</table>
